
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    /* font-family: var(--font-base), sans-serif; */
    font-family: 'Poppins', sans-serif;

}

.full-height {
    /* min-height: 100vh;
    height: 100%; */
    padding-top: 3rem;
    display: flex;
    align-items:center;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(255, 39, 39);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: 40rem;
    color: #e75805;
}

a {
    text-decoration: none;
}
/* Nav */
.navText:hover {
    color: orangered;
}

.card {
    background-color: #555;
}

/* Home */
.Home {
   
}

.socialMedia span a  {
    size: 5rem;
    text-decoration: none;
}

/* About */
#About {
    height: 90vh;
    background-color: black;
}

/* Projects */
#Projects {
    height: 90vh;
    background-color: yellow;
}

/* Contact */
#Contact {
    height: 90vh;
    background-color: black;
}

/* Media Tab */
@media (max-width: 800px) {
    .socialMedia {
        display: none;
    }
    .full-height {
       
    }
    
    
}
