@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: var(--font-base), sans-serif; */
    font-family: "Poppins" , sans-serif !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: 40rem;
    color: #e75805;
}

a {
    text-decoration: none;
}

/* Nav */
.navText:hover {
    color: orangered !important;
}
.nav-item a:hover {
    color: orangered;
}
.card {
    background-color: #555;
}

/* section */
section {
    background-color: black;
    color: white;
}

/* Home */
#Home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialMedia span a {
    size: 5rem;
    text-decoration: none;
}

/* About */
#About {
    /* height: 90vh; */
    background-color: black;
}

/* Projects */
#Projects {
    /* height: 90vh; */
    background-color: yellow;
}

/* Contact */
#Contact {
    /* height: 90vh; */
    background-color: black;
}

/* Media Tab */
@media (max-width: 768px) {
    .socialMedia {
        display: none;
    }

    .full-height {}


}